In [1]:
from bs4 import BeautifulSoup
from fake_useragent import UserAgent
ua = UserAgent()
headers = {'user-agent':ua.chrome}
import requests

In [2]:
### Class Excercise
url="https://www.goodreads.com/list/show/19.Best_for_Book_Clubs"
resp=requests.get(url,headers=headers).text
page=BeautifulSoup(resp,'html.parser')

In [3]:
bookTitle=[]
for i in page.find_all("a",class_="bookTitle"):
    bookTitle.append(i.text.strip())

In [4]:
# bookTitle=[i.text.strip() for i in page.find_all("a",class_="bookTitle")]

In [5]:
author=[i.text.strip() for i in page.find_all("a",class_="authorName")]

In [6]:
base_url="https://www.goodreads.com/list/show/19.Best_for_Book_Clubs?page={}"

In [7]:
booktitle=[]
author=[]
from tqdm import tqdm
for i in tqdm(range(1,11)):
    url=base_url.format(i)
    resp=requests.get(url).text
    page=BeautifulSoup(resp,'html.parser')
    for i in page.find_all("a",class_="bookTitle"):
        booktitle.append(i.text)
    for i in page.find_all("a",class_="authorName"):
        author.append(i.text)

100%|██████████████████████████████████████████████████████████████████████████████████| 10/10 [01:00<00:00,  6.10s/it]

In [8]:
import pandas as pd

In [9]:
table=pd.DataFrame({'booktitle':booktitle,'author':author})
table.head()

                   booktitle            author
0               \nThe Help\n  Kathryn Stockett
1        \nThe Kite Runner\n   Khaled Hosseini
2    \nWater for Elephants\n        Sara Gruen
3         \nThe Book Thief\n      Markus Zusak
4  \nTo Kill a Mockingbird\n        Harper Lee